<p class="form-header">Sign in</p>
<form class="auth-form">
  <div class="form-field">
    <p class="form-field__label">Login</p>
    <input type="text" class="form-field__input" [(ngModel)]="username" name="user" #usernamefield="ngModel" required>
    <span class="form-error"[hidden]="!usernamefield.errors?.required || !usernamefield.touched">Field is required</span> 
  </div>
  <div class="form-field">
    <p class="form-field__label">Password</p>
    <input type="password" class="form-field__input" [(ngModel)]="password" name="password" #passwordfield="ngModel" required>
    <span class="form-error" [hidden]="!passwordfield.errors?.required || !passwordfield.touched">Field is required</span> 
  </div>
  <button class="form-submit" (click)="login()">Login</button>
  <!-- <button class="form-submit" (click)="authMe()">Auth</button> -->
  <p class="not-a-member">Not a member? <span class="form-redirect" (click)="switchToSignup()">Sign up</span></p>
</form>