@font-face {
  font-family: "Comfortaa";
  src: url('/assets/fonts/Comfortaa/Comfortaa-Bold.ttf');
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: "Montserrat-regular";
  src: url('/assets/fonts/Montserrat/Montserrat-Regular.ttf');
  font-weight: 300;
  font-style: normal;
}